*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.messageRecieverCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* height: 3rem; */
    height: auto;
    /* border: 1px solid black; */
    align-items:flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.left{
    margin-left: 8px;
    width: 2rem;
    height: 2rem;
    max-height: 2rem;
    max-width: 2rem;
    border-radius: 100px;
    background-color: rgb(91, 92, 95);
    /* border: 2px solid blue; */
}
.right{
    width: 60%;
    height: 100%;
    margin-left: 8px;
    background-color: #d2d3d5;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 12px;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    padding-left: 10px;
    padding-right: 10px;
    /* border: 1px solid red; */
    overflow-x: hidden;
}
.userName{
    font-size: 0.8rem;
    font-weight: bold;
    /* border: 1px solid green; */
}
.body{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* border: 1px solid green; */
}